@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Medium.woff2") format("woff2"),
    url("/fonts/montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("/fonts/montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fraunces";
  src: url("/fonts/fraunces/Fraunces-Bold.woff2") format("woff2"),
    url("/fonts/fraunces/Fraunces-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  font-size: 10px;
  @apply m-0 h-full w-full bg-cream p-0;
}

p {
  font-size: 1.4rem;
}
